img:not(nav *) {
  border: 0.1rem solid #e5e7eb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.md-typeset h1 {
  color:var(--md-default-fg-color);
 }
 
 .md-typeset h1,
 .md-typeset h2 {
  font-weight:400;
 }
 
.tabbed-content {
  border-bottom: 0.1rem solid #e5e7eb;
}
